.tags__controls {
  background-color: #eee;
  padding: 1rem;
  margin: 10px 0;

  display: flex;
  justify-content: space-between;
}
.tags__container {
  display: flex;
  flex-flow: column;
  // gap: 1rem;

  .tag__content {
  }
}

.field__container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  background-color: white;
}
